* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* this is the body */
body{
    background-color: rgba(45, 84, 204, 255)   
}

/* is ky oper bhi 1 main container hy */
.blue-container {
    color: white;
}
/* ye ul navbar ki ul hy */
ul{
    display: flex;
    justify-content: space-between;
}
.logo-brand {
    padding: 0px 40px;
}
/* ye li all-items ki hy */

.all-items li {
    padding: 0px 30;
}

li{
    display: inline-block;
    padding: 20px 10px;
    /* padding-right: 25px; */
}
.d3d{
    position: relative;
    right:5px;
}

/* ye SARI css IS --> another-items ki hy nechy sy */

.another-items {
    padding: 0px 40px;
}

/* pricing ka color  */
.color-yellow {
    color: rgb(170, 170, 36);
}

/* ye button nav ky signup ka hy */

.button-1 {
    color: white;
    width: 75px;
    height: 30px;
    border: 2px solid white;
    background-color: rgba(45, 84, 204, 255);
}

.new {
    height: 15px;
    width: 30px;
    font-size: x-small;
    border: 0px solid white;
    background-color: lightblue ;
    position: absolute;
    left: 495px;
    top: 22px;
}

/* YE Heading ki css hy is ky neechy
is my h1 hy  */

.heading {
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    padding: 100px 0px;
}

/* YE Heading-2 ki css hy is ky neechy
is my h2 hy  */

.heading2 {
    padding: 25px 0px;
}
.input-text {
    justify-content: center;
}
.landscape-box {
    width: 800px;
    height: 60px;
    background-color: white;
    position: absolute;
    left: 275px;
    top: 280px;   
}
.text-align-center {
    display: inline-block;
    padding:  50px;
    margin: -30px;
    
    
}
















/* ye neechy sab foote may css hy */
/* footer{
    
} */
.main-footer {
    height: 50vh;
    background-color:  rgb(8, 7, 7);
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
}

h4 {
    color: white;
}

p{
    color: rgb(78, 83, 88); ;
}

.icons li{
    padding: 0 5px;
    list-style: none;
    text-decoration: none;
}
.footer-button-signup {
    background-color: #0d6efd;
    color: white;
    height: 45px;
    width: 105px;
    border-radius: 5px;
}
.line {
    color: white;
}
.last-lign {
    /* padding: 0 0px; */
    align-items: center;
    background-color:rgb(8, 7, 7); 
    display: flex;
    justify-content: space-between;
}

.english-button {
    height: 50px;
    width: 100px;
    color: white;
    border: solid 1px white;
    background-color:rgb(8, 7, 7); 
    /* padding-left: 30px; */
}
.left {
    padding: 10px 0;
    padding-right: 650px;
}