* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* this is the body */
body{
    background-color: rgba(45, 84, 204, 255)   
}

/* is ky oper bhi 1 main container hy */
.blue-container {
    color: white;
}
/* ye ul navbar ki ul hy */
ul{
    display: flex;
    justify-content: space-between;
}
.logo-brand {
    padding: 0px 40px;
}
/* ye li all-items ki hy */

.all-items li {
    padding: 0px 30;
}

li{
    display: inline-block;
    padding: 20px 10px;
    /* padding-right: 25px; */
}
.d3d{
    position: relative;
    right:5px;
}

/* ye SARI css IS --> another-items ki hy nechy sy */

.another-items {
    padding: 0px 40px;
}

/* pricing ka color  */
.color-yellow {
    color: rgb(170, 170, 36);
}

/* ye button nav ky signup ka hy */

.button-1 {
    color: white;
    width: 75px;
    height: 30px;
    border: 2px solid white;
    background-color: rgba(45, 84, 204, 255);
}

.new {
    height: 15px;
    width: 30px;
    font-size: x-small;
    border: 0px solid white;
    background-color: lightblue ;
    position: absolute;
    left: 495px;
    top: 22px;
}

/* YE Heading ki css hy is ky neechy
is my h1 hy  */

.heading {
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    padding: 100px 0px;
}

/* YE Heading-2 ki css hy is ky neechy
is my h2 hy  */

.heading2 {
    padding: 25px 0px;
}
.input-text {
    text-align: center;
    
    
}
footer{
    background-color:  rgb(8, 7, 7);
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
}
h4 {
    color: white;
}
p{
    color: rgb(78, 83, 88); ;
}
.footer-button-signup {
    background-color: #0d6efd;
    color: white;
    height: 45px;
    width: 105px;
    border-radius: 5px;
}
.icons {
    padding: 0 10px;
}
.line {
    color: white;
}